.overlay-con {
  display: none;
  z-index: -2;
}

@media screen and (max-width: 800px) {
  .overlay-con {
    visibility: hidden;
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 4vw;
    transition: ease 0.5s all;
    transform: scale(0);
  }
  .add-overlay-css {
    visibility: visible;
    transform: scale(1);
    z-index: 2;
  }

  .popup-section {
    position: relative;
    background-color: #fff;
    width: 600px;
    height: 90vh;
    border-radius: 5px;
    padding-top: 2em;
  }

  .popup-section aside {
    margin-top: 30px;
    padding-inline: 30px;
  }

  .close-popup {
    font-size: 30px;
    color: #617d98;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .head-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #617d98;
    margin-top: 10px;
  }
  .head-item p {
    margin-top: 8px;
    cursor: pointer;
  }
  .head-item p span {
    margin-right: 10px;
  }

  .signin-btn {
    width: 100px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    margin-top: 40px;
  }
}

/* ======== */
/* Submenus */
.submenus {
  display: none;
}
.add-submenu-css {
  display: block;
}

.sub-header-con::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  z-index: -1;
  animation-name: shoot-out;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes shoot-out {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.sub-header-con {
  position: absolute;
  top: 60px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.each-subheader-con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 20px;
}

.add-submenu-css aside {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-submenu-css aside span {
  margin-right: 10px;
}

.add-submenu-css aside p {
  /* color: red; */
}
